<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro Multitemático</title>
</head>
<body>
    <%- include('partials/header') %>

    <div class="container mt-5 content"> 
        <div class="jumbotron">
            <h1 class="display-4">Bienvenido al Foro Multitemático</h1>
            <p class="lead">Un lugar para discutir una variedad de temas.</p>
            <hr class="my-4">
            <p>Únete a nuestra comunidad y comienza a participar en las conversaciones.</p>
            <a class="btn btn-primary btn-lg" href="/foro" role="button">Ir al Foro</a>
        </div>

    </div>

    <%- include('partials/footer') %>
    
