
body {
    background-color: #f5f5f5;
    font-family: "Arial", sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#btn-new {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-edit {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn-delete {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.modal-content {
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#notificationModal .modal-content {
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-close {
    color: #333;
}

#notificationModal .btn-close {
    color: #333;
}

#btn-save {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

#notificationModal .btn-secondary {
    background-color: #333;
    border-color: #333;
    color: #fff;
}
.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem;
}

/* Aplica un margen inferior para evitar que el contenido se solape con el footer */
.content {
    margin-bottom: 50px; /* Ajusta la cantidad de margen según sea necesario */
}